main {
    @include flex(center, center, row, 1);
    align-self: stretch;
    width: 100%;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: $padding * 3;
    overflow: hidden;

    @include breakpoint($tablets-landscape, $mobiles-landscape, $mobiles-portrait) {
        @include flex(center, flex-start, column, 0);
        height: max-content;
    }

    @include breakpoint($tablets-portrait) {
        @include flex(center, center, column, 1);
    }

    .half {
        @include flex(flex-start, center, column);
        width: 50%;
        max-width: 420px;
        font-weight: normal;
        text-align: left;

        &:first-of-type {
            margin: 0 $margin * 20 0 0;
        }

        > h1 {
            margin: 0 0 $margin * 1.5;
            font-size: 2.5rem;
        }

        > h2 {
            margin: 0 0 $margin;
            font-size: 1.3rem;
            font-weight: normal;
        }

        > h3 {
            margin: 0 0 $margin;
            font-weight: normal;
        }

        > ul {
            width: 100%;
            margin: $margin * 2 0 0;
            padding: 0;
            list-style-type: none;

            > li {
                position: relative;
                margin: 0 0 $margin * 2;
                padding-left: $padding * 4.5;
                font-size: 1.5rem;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    width: $padding * 3;
                    height: $padding * 3;
                    background: url('/images/tick.svg') no-repeat center / contain;
                    transform: translate(0, -50%);
                }
            }
        }

        > img {
            width: 100%;
            align-self: center;
        }

        @include breakpoint($tablets-landscape) {
            &:first-of-type {
                margin: 0 $margin * 1 0 0;
            }
        }

        @include breakpoint(
            $tablets-landscape,
            $tablets-portrait,
            $mobiles-landscape,
            $mobiles-portrait
        ) {
            @include flex(center, center, column);
            width: 100%;
            max-width: 65%;
            text-align: center;

            &:first-of-type {
                margin: 0 0 $margin * 1;
            }

            > img {
                width: 50%;
            }
        }

        @include breakpoint($mobiles-portrait) {
            max-width: 95%;
        }
    }

    .halfMobile {
        display: none;

        @include breakpoint(
            $tablets-landscape,
            $tablets-portrait,
            $mobiles-landscape,
            $mobiles-portrait
        ) {
            display: block;
            text-align: left;
        }
    }
}
