@mixin flex($align: center, $justify: center, $flow: row, $shrink: 1) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-flow: $flow;
    flex-shrink: $shrink;
}

@mixin breakpoint($device) {
    @if ($device== '') {
        $device: $laptops;
    }

    $min: map-deep-get($breakpoints, $device, 'min');
    $max: map-deep-get($breakpoints, $device, 'max');
    $orientation: map-deep-get($breakpoints, $device, 'orientation');

    @if ($orientation== '') {
        $orientation: 'portrait';
    }

    @if ($device!=$mobiles-landscape) {
        @media screen and (min-width: $min) and (max-width: $max) and (orientation: $orientation) {
            @content;
        }
    } @else {
        @media screen and (max-height: $max) and (orientation: landscape) {
            @content;
        }
    }
}
