/**
* COLORS
**/

// white
$white: #fefefe;

// dark
$darker: #333333;
$dark: #4f4f4f;
$dark-dim: #828282;
$dark-dimer: #bdbdbd;

// dim
$dim: #e0e0e0;
$dimmer: #f2f2f2;

// brand
$red: #f85566;
$yellow: #fcdd28;
$green: #87ca36;
$blue: #36c3fe;

// others
$purple: #402266;

/**
* VARIABLES
**/

$margin: 10px;
$padding: 10px;
$border-radius: 999px;
