@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text:400,500,700&display=swap');

@import './variables';
@import './mixins';

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: $darker;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background: $white;

    @include breakpoint($mobiles-portrait) {
        font-size: 12px;
    }

    @include breakpoint($mobiles-landscape) {
        font-size: 11px;
    }
}

* {
    box-sizing: border-box;
}

input {
    font-size: inherit;
    font-family: inherit;
}

button {
    font-size: inherit;
    font-family: inherit;
}

section {
    height: 100vh;
    @include flex(flex-start, flex-start, column);
}

@import './items/header';
@import './items/content';
